/* signup page */
.layer{
  z-index: 5;
}

h1 {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

form {
  padding: 30px 90px 30px 90px;
  margin: auto;
  text-align: center;
  resize: vertical;
  background: linear-gradient(90deg, #decce7, #f4d6df, #decce7);
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
  max-width: 26em;
}

#login-redirect{
  color: rgb(41, 72, 247);
  text-decoration: underline;
}

#login-redirect:hover{
  color: rgb(25, 46, 167);
  text-decoration: underline;
  cursor: pointer;
}

.register-form{
  position: absolute;
  right: 0%;
  left: 0%;
  top: 17%;
}

.register-entry-animation {
  animation: fadeIn 1.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
